.app-container{
    height: 100%;
    background-color: #D6D6D6;
}

.page-container{
    margin-left: 200px;
    height: 100%;
    &#home{
        text-align: center;
    }
    &#add{
        padding-top:90px;

        text-align: center;
    }
    &:not(#home){
        display: none;
    }
}