@import 'layout';
@import 'components/navigation';
@import 'components/tasklist';
@import 'components/addtask';


body{
    padding:0;
    margin: 0;
}
/*lineblock*/
input,img{
    margin: 0;
    padding: 0;
    // border: 0 none;
    outline-style: none;
    vertical-align: bottom; 
}
label{
    display: inline-block;
    cursor: pointer;
}


label input[type="radio"]:checked~i,label input[type="checkbox"]:checked~i{
    color: #38d6ff;
}


input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type="number"]+div{
    width: 30px;
    height: 40px;
    padding-left: 2px;
    cursor: pointer;
}

.audiodiv{
    margin: 10px 20px;
}

.djs {
    font-size: 20px;
    color: #F24726;
    // border: 1px solid red;
    text-align: center;
    display: contents;
    // width: 600px;
    // margin: 20% auto;
    // line-height: 50px;
}


.search{
    width:100%;
    margin: 10px 20px;
    div{
        margin:10px 0;
        input{
            width: 240px;
            height: 38px;
        }
        button{
            margin-left: 20px;
            background-color: #C3D08B;
            height: 40px;
            line-height: 40px;
            border: none;
            border-radius: 5px;
            width: 60px;
            color: #fff;
        }
        .defintion{
            display: block;
            line-height: 20px;
            background-color: #e6e6e6;
        }
        .synonyms{
            display: block;
            line-height: 20px;
            background-color: #ffffff;
        }
        
    }

}



